.footer {
    padding: 15px 15px 15px 15px;
    border-top: 1px solid lightgray;
    background-color: #161515;
    margin-bottom: 2rem;
    display:flex;
}
.f1 {
    width: 50%;
    height: 80px;
    font-size: 18px;
    line-height: 80px;
    text-align: center;
    background-color: lightgray;
}
.f2 {
    width: 20%;
    height: 80px;
    background-color: #00ffff;
    font-size: 20px;
    line-height: 80px;
    text-align: center;
}
.f3 {
    width: 10%;
    height: 80px;
    font-size: 20px;
    line-height: 80px;
    text-align: center;
}
.f3:hover{
    text-transform:uppercase;
}
